.ScrollProgress {
    width: 100%;
    height: 5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    .ScrollProgress-Progress {
      height: 100%;
      background-image: linear-gradient(to left, #9795f0 0%, #fbc8d4 100%);
    }
  }