.univershop {
    width: 100%;
    position: relative;
    .big_img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50%);
        width: 90%;
        height: 767px;
        z-index: 99999;
        animation: fadein 0.3s;
        .close_btn {
            text-align: end;
            width: 100%;
            height: 40px;
            background-color: rgba(73,92,131,0.6);
            .close {
                font-size: 32px;
                margin: 4px 5px 0 0;
                color: #ECF9FF;
                cursor: pointer;
                &:hover {
                    background-color: rgba($color: #ECF9FF , $alpha: 0.2);
                }
            }
        }
        .big_imgzone {
            width: 100%;
            height: 730px;
            z-index: 9999;
            overflow-y: scroll;
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
        .big_imgzone::-webkit-scrollbar {
            width: 16px;
        }
        .big_imgzone::-webkit-scrollbar-thumb {
            height: 5%; /* 스크롤바의 길이 */
            background: #adabbd; /* 스크롤바의 색상 */
            transition: 0.3s;
            &:hover {
                background: #979fc1;
            }
        }
        .big_imgzone::-webkit-scrollbar-track {
            background: rgba($color: #ECF9FF , $alpha: 0.8);  /*스크롤바 뒷 배경 색상*/
        }
    }
    .content {
        width: 614.39px;
        height: auto;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate( -50%, -50%);
        display: flex;
        flex-direction: column;
        padding-top: 15px;
        .img_zone {
            width: 100%;
            position: relative;
            .img_box {
                width: 100%;
                height: auto;
                .main_box {
                    width: 100%;
                    height: 300px;
                    border: 1.5px solid rgba(255, 255, 255, 0.3);
                    border-radius: 2px;
                    text-align: center;
                    position: relative;
                    overflow: hidden;
                    margin-bottom: 10px;
                    cursor: pointer;
                    .plus_icon {
                        position: absolute;
                        bottom: 2%;
                        right: 1%;
                        z-index: 999;
                        font-size: 22px;
                        color: #ECF9FF;
                        opacity: 0;
                        transition: 0.3s;
                    }
                    img {
                        border-radius: 1.5px;
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                        transition: 0.3s;
                    }
                    &:hover {
                        .plus_icon {
                            opacity: 1;
                        }
                        img {
                            filter: brightness(0.7);
                        }   
                    }
                }
                .sub_boxs {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    margin-bottom: 20px;
                    li {
                        margin-right: 10px;
                        width: 146px;
                        height: 72px;
                        border: 1.5px solid rgba(255, 255, 255, 0.3);
                        border-radius: 2px;
                        transition: 0.3s;
                        overflow: hidden;
                        cursor: pointer;
                        img {
                            border-radius: 1.5px;
                            width: 100%;
                            height: auto;
                            object-fit: cover;
                            transition: 0.3s;
                        }
                        &:hover {
                            border: 1.5px solid rgba(255, 255, 255, 0.6);
                            img {
                                transform: scale(1.1);
                            }
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                    }    
                }
            }    
        }
        .info_zone {
            width: 100%;
            color: #fff;
            letter-spacing: 1.2px;
            .font {
                margin-bottom: 10px;
                font-size: 34px;
                font-weight: 900;
                vertical-align: middle;
            }
            .info1 {
                margin: 10px 0;
                .color2 {
                    font-weight: 600;
                    color: #FA7070;
                }
                .people {
                    font-weight: 300;
                }
            }
            .info2 {
                margin: 20px 0;
                p {
                    font-size: 14px;
                    line-height: 1.5;
                }
            }
            .use_tech {
                margin-bottom: 50px;
                ul {
                    margin-top: 10px;
                    display: flex;
                    li {
                        width: auto;
                        height: auto;
                        border-radius: 20px;
                        padding: 12px 18px;
                        margin-right: 16px;
                        font-size: 12px;
                        background-color: rgba(55, 55, 67, 0.8);
                        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
                        transition: 0.3s;
                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }
            .btn_zone {
                display: flex;
                button {
                    font-family: 'Pretendard-Regular';
                    width: 150px;
                    height: 45px;
                    border: 0;
                    outline: 0;
                    color: #fff;
                    letter-spacing: 1.2px;
                    margin-right: 16px;
                    cursor: pointer;
                    .link_icon {
                        vertical-align: middle;
                        font-size: 18px;
                        margin-right: 3px;
                    }
                    span {
                        vertical-align: middle;
                        font-size: 14px;
                    }
                }
                .to_site {
                    background-color: rgb(73, 92, 131);
                    transition: 0.3s;
                    &:hover {
                        background-color: rgba(73, 92, 131, 0.8);
                    }
                }
                .to_git {
                    background-color: #fff;
                    transition: 0.3s;
                    font-weight: 600;
                    .link_icon {
                        font-size: 22px;
                        color: black;
                    }
                    span {
                        color: black;
                    }
                    &:hover {
                        background-color: rgba(250, 250, 250, 0.8);
                    }  
                }
            }
        }
    }
}

// 반응형
@media screen and (max-width: 762px) {
    .univershop {
        .big_img {
            .big_imgzone {
                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
        }
        .content {
            width: 470.39px;
            .img_zone {
                .img_box {
                    .main_box {
                        height: 230px;
                        .plus_icon {
                            font-size: 18px;
                        }
                    }
                    .sub_boxs {
                        li {
                            height: 54px;
                        }    
                    }
                }    
            }
            .info_zone {
                .font {
                    font-size: 28px;
                }
                .info1 {
                    font-size: 14px;
                }
                .use_tech {
                    ul {
                        li {
                            font-size: 10px;
                            padding: 10px 14px;
                        }
                    }
                }
                .btn_zone {
                    button {
                        width: 145px;
                        height: 40px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 622px) {
    .univershop {
        .big_img {
            width: 100%;
            .big_imgzone {
                img {
                    width: auto;
                    object-fit: none;
                }
            }
        }
    }
}

@media screen and (max-width: 476px) {
    .univershop {
        .content {
            width: 395.39px;
            .img_zone {
                .img_box {
                    .main_box {
                        height: 194px;
                        .plus_icon {
                            font-size: 16px;
                        }
                    }
                    .sub_boxs {
                        li {
                            height: 46px;
                        }    
                    }
                }    
            }
            .info_zone {
                .info2 {
                    p {
                        font-size: 12px;
                    }
                }
                .btn_zone {
                    button {
                        width: 140px;
                        height: 35px;
                        .link_icon {
                            font-size: 16px;
                        }
                        span {
                            font-size: 12px;
                        }    
                    }
                    .to_git {
                        .link_icon {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}